* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

/* Header End */

/* Info */

/* Info End */

/* 2 Foto */

/* 2 Foto End */

/* Travel */

/* Travel end */

/* Team */

/* Team End */

/* Galeri */

/* Galeri End */

/* Footer */

/* Footer End */